
@page
@model DetailModel
@{
    ViewData["Title"] = "Project Details";
}
@if (Model.projectdetail != null)
{
    <div>
        <h3>@Model.projectdetail.ProjectName</h3>
        <p><strong>Category:</strong> @Model.projectdetail.ProjectCategory</p>
        <p><strong>Description:</strong> @Model.projectdetail.ProjectDescription</p>
    </div>
    <a asp-page="Projects" class="btn btn-secondary">Back to List</a>
    <form method="post" asp-page-handler="Delete" asp-route-id="@Model.projectdetail.ProjectId">
    <button type="submit" class="btn btn-link">Delete</button>
</form>
}
else
{
    <p>Project not found.</p>
}